/* Login */
	.loginform {
		width: 400px;
		height: 200px;
		margin: 0 auto;
		border: 1px black solid;
		display: table-cell;
		border-radius: 25px;
		text-align: center;
		vertical-align: middle;
	}
	
	.loginform_container {
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
	}
	
	.loginform_username {
		width: 66%;
		float: left;
		margin-top: 5px;
	}
	
	.loginform_password {
		width: 66%;
		float: left;
		margin-top: 5px;
	}
	
	.loginform_text {
		text-align: right;
		float: left;
		width: 33%;
		margin-top: 5px;
	}
	
	.input {
		width: 200px;
	}
	
	#loginform_submit {
		margin-top: 10px;
	}
