/* Users */		
	.users {
		margin: 0 auto;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
	}
	
	.users td {
		border-top: 1px solid gray;
		padding: 2px;
	}

/* Theme */
	.theme {
		width: 400px;
		height: 200px;
		margin: 0 auto;
		border: 1px black solid;
		display: table-cell;
		border-radius: 25px;
		text-align: center;
		vertical-align: middle;
	}
	
	.theme div {
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
	}
	
/* Integration */	
	.integration {
		width: 400px;
		height: 250px;
		margin: 0 auto;
		border: 1px black solid;
		display: table-cell;
		border-radius: 25px;
		text-align: center;
		vertical-align: middle;
	}
		
	.integration div {
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
	}
		
	.integration span {
		float: left;
		text-align: right;
		width: 50%;
	}
