/* Home Page Widgets */
	.widget {
		margin: auto;
		margin-top: 75px;
	}
	
	.widget #container {
		width: 50%;
		float: left;
		display: inline-block;
		text-align: center;
	}
	
	.widget #widget {
		width: 75%;
		height: 60%;
		margin: 0 auto;
		border: 1px black solid;
		display: inline-block;
		border-radius: 25px;
		text-align: center;
	}
	
	.widget #title {
		margin-top: 5px;
		font-size: 4.5vmin;
	}
	
	.widget #text {
		font-size: 21vw;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: 25%;
	}
